<FilesMatch "\.(htm|html|css|js|php)$">
    AddDefaultCharset UTF-8
    </FilesMatch>
    Options +FollowSymLinks -MultiViews
<IfModule mod_rewrite.c>
Options -Indexes
RewriteEngine On
RewriteBase /Projeto/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Projeto/index.php [L]

RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REMOTE_ADDR} !127.0.0.1
## RewriteCond %{REMOTE_ADDR} !MeuIP
RewriteRule ^ / [F]   
</IfModule>